**/__pycache__
**/dataset
**/profiling
**/model
**/gif
**/demos
.vscode
log**

errors/
*.egg-info
/build
/data
/mwcore/tracking/src/algs/gtrack_c/*
!mwcore/tracking/src/algs/gtrack_c/my_makefile
/error_stats
gtrack_debug.log
exp_data
# Ignore test data and venv
tests/data/
venv/
